body {
    background-color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Nav bar styling: */
nav {
    background-color: #1C1C1C; //dark-background
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 300px;
}
nav ul {
    list-style: none; /*remove-bullets*/
    display: flex; /*one-line*/
    justify-content: center;
    padding: 0 0 15px 0;
    margin: 0;
    gap: 30px; /*space-between*/
}
nav a {
    color: white;
    text-decoration: none; /*remove-underline*/
    font-size: 18px;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #FF9800;
}
h1.logo {
    text-align: center;
    margin-top: 30px;
    padding: 15px 0 0 0;
    color: #FF9800;
    font-weight: bold;
}
