/*######################################################*/
/*################## General styling: ##################*/
/*######################################################*/
body {
    background-color: whitesmoke;
    font-family: "Droid Sans", serif;
}
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}
/*######################################################*/
/*################## Header styling: ###################*/
/*######################################################*/
header {
    margin: 0 10%;
    background-color: darkgray;
    width: 80%;
    border-radius: 20px;

}
/*#########################################################*/
/*################### Nav bar styling: ####################*/
/*#########################################################*/
nav {

}
h1.title {
    text-align: center;
    margin-top: 0;
    padding: 15px 0 0 0;
    color: #483d8b;
    font-weight: bold;
}
nav ul {
    list-style: none; /*remove-bullets*/
    display: flex; /*one-line*/
    justify-content: center;
    padding: 0 0 15px 0;
    margin: 0;
    gap: 30px; /*space-between*/
}
nav a {
    color: white;
    text-decoration: none; /*remove-underline*/
    font-size: 18px;
    transition: color 0.3s ease;
    border-radius: 20px;
}
nav a:hover {
    color: #483d8b;
}
/*#########################################################*/
/*################### Main styling: #######################*/
/*#########################################################*/
.main-container {
    display: grid;
    grid-template-areas:
    "hero hero about"
    "hero hero about"
    "skills projects projects"
    "skills projects projects"
    "skills projects projects"
    "skills projects projects"
    "skills contact contact"
    "skills contact contact";
    /*"hero hero hero"*/
    /*"about projects projects"*/
    /*"about projects projects"*/
    /*"skills projects projects"*/
    /*"skills projects projects"*/
    /*"skills contact contact"*/
    /*"skills contact contact"*/
    /*"skills contact contact";*/
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 10px 0;
}
#hero {
    grid-area: hero;
    text-align: center;
    width: 80%;
    margin: 0 10%;
    /*Next properties are for testing only*/
    /*background-color: darkslateblue;*/
    /*border: 8px solid black;*/
    /*min-height: 200px;*/
}
#about {
    grid-area: about;
    /*Next properties are for testing only*/
    background-color: darkslateblue;
    border: 8px solid black;
    min-height: 200px;
}
#projects {
    grid-area: projects;
    /*Next properties are for testing only*/
    background-color: darkslateblue;
    border: 8px solid black;
    min-height: 200px;
}
#skills {
    grid-area: skills;
    /*Next properties are for testing only*/
    background-color: darkslateblue;
    border: 8px solid black;
    min-height: 200px;
}
#contact {
    grid-area: contact;
    /*Next properties are for testing only*/
    background-color: darkslateblue;
    border: 8px solid black;
    min-height: 200px;
}
/*#########################################################*/
/*################### Hero styling: #######################*/
/*#########################################################*/
#hero img {
    width: 75%;
    border-radius: 5px;
    border: darkslateblue solid;
}
#hero h1 {
    position: absolute;
    top: 34%;
    left: 36%;
}
#hero p {
    color: cornflowerblue;
}
/*#########################################################*/
/*################### Footer styling: #####################*/
/*#########################################################*/
footer {
    text-align: center;
    color: #808080;
}

/*#########################################################*/
/*################### Styling section: ####################*/
/*#########################################################*/

/*#########################################################*/
/*################### Dark mode default: ##################*/
/*#########################################################*/
/*This code is on hold for now*/
@media (prefers-color-scheme: dark) {

}